.Hud {
  position: absolute;
  left: 0px;
  top: 10px;
  image-rendering: pixelated;
}

.Hud .Combatant {
  position: relative;
  margin-bottom: 8px;
}

.Hud .Combatant_type {
  display: none;
}
